* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}
,img{
    display: flex;
    justify-content: center;
    

}
    

}